<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шаг 2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="#" class="logo">
                <img src ="https://static.wikia.nocookie.net/naruto/images/2/21/Sasuke_Part_1.png/revision/latest?cb=20180722103521&path-prefix=ru"
                style="max-width: 600px; max-height: auto;"alt="">
            </a>
        </header>
        <main id="swup" class="transition-fade">
            <article>
                <h1>Dolor</h1>
                <p>С другой стороны курс на социально-ориентированный национальный проект позволяет выполнить важнейшие задания по разработке всесторонне сбалансированных нововведений.</p>
                <a href="index.html">First page</a>
            </article>

        </main>
        
</body>
</html>