<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шаг 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="#" class="logo">
                <img src ="https://static.wikia.nocookie.net/naruto/images/2/21/Sasuke_Part_1.png/revision/latest?cb=20180722103521&path-prefix=ru"
                style="max-width: 600px; max-height: auto;"alt="">
            </a>
        </header>
        <main id="swup" class="transition-fade">
            <article>
                <h1>Lorem Ipsum</h1>
                <p>Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции играет важную роль в формировании форм воздействия. Таким образом, начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации всесторонне сбалансированных нововведений!</p>
                <a href="1st page.html">Second page</a>
            </article>

        </main>

    </div>
    
    <!-- <script src="swup.min.js"></script>
    <script>
        const swup = new Swup();
    </script> -->


</body>
</html>