body
{
    font-size:15px;
    letter-spacing: 0.02em;
    text-align: center;
}

main{
    max-width: 1024px;
    margin: 50px auto;
    width: 90%;
}

p
{
    text-align: center;
}

.transition-fade
{
    transition: .4s;
    opacity: 1;
}

html.is-animating .transition-fade
{
    opacity: 0;
    transform: translateY(100px);
}