.Menu{
    background-color: #102326;
    width:200px;
    height: 92vh;
    padding: 50px 10px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 15px;
    color: #dcdcdc;
    float: left;
    margin: 0;
}
