.hidden-menu
{
    display: block;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin:0;
    box-sizing: border-box;
    width: 200px;
    background-color: #454545;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .23s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

 .hidden-menu-ticker
{
    display: none;
    background-color: #666;
} 

.btn-menu
{
    color: #fff;
    background-color: #666;
    padding: 5px;
    padding-left: 5px;
    padding-right: 7px;
    position:fixed;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 28px;
    height: 28px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

 .child
{
  transition: left .23s;
  z-index: 2;
  background-color: #666;
    padding: 5px;
    padding-left: 5px;
    padding-right: 7px;
    position:fixed;
    width: 28px;
    height: 100%;
    left: 0px;
    -webkit-backface-visibility: hidden;
} 
.btn-menu span
{
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-menu span.first
{
margin-top: 0;
left:0px;
right:5 px;
}

.circle
{
  border: 1px solid #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.hidden-menu-ticker:checked ~ .child{
  left: 160px;
}
.hidden-menu-ticker:checked ~ .btn-menu , .child
{
  left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu , .child
{
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first
{
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second
{
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third
{
  -webkit-transform: rotate(-45deg);
  top: -10px;
}
.hidden-menu li{
 margin: 15px;
 color: #FFF;
}
.hidden-menu p{
  font-family: 'Nunito', sans-serif;
  padding: 10px;
  margin:-10px;
  background:#262626;
  color:#fff;
  text-align: center;
}
